@import "./src/them/variables";
.message {
  background-color: $grey;
  border-radius: 8px;
  display: flex;
  align-items: center;

  .avatar {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-right: 10px;
    width: 70px;
    height: 70px;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .user {
        font-weight: bold;
        color: $green;
        margin: 0;
      }
      .data {
        color: $darkGrey;
      }
    }
    .text {
      margin: 0;
    }
    .inputEdit {
      .inputText {
        color: $white;
        border-bottom: 1px solid $green;
      }
    }

    .favorite {
      display: flex;
      justify-content: flex-end;
      color: $green;
      &:hover {
        cursor: pointer;
      }
    }
    .editMessage {
      display: flex;
      justify-content: flex-end;
      i {
        color: $grey;
        &:hover {
          color: $green;
          cursor: pointer;
        }
      }
      .delete {
        &:hover {
          color: red;
        }
      }
    }
  }
}

.message.author {
  background-color: $darkGrey;
  .text {
    color: $white;
  }
  .content {
    .data {
      color: $grey;
    }
  }
}
